langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
requests
langchain-google-genai
google-generativeai
langchain-cohere
sentence-transformers
langchain-huggingface
langchain-chroma
chromadb
faiss-cpu